
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
}
.container {
  text-align: center;
  padding: 2em;
}
.btn {
  background-color: red;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}
footer {
  margin-top: 3em;
  font-size: 0.9em;
}
.admin header {
  background-color: #1a1a1a;
  padding: 1em;
  text-align: center;
}
.admin .stats {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.card {
  background-color: #111;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
}
.card.premium button {
  background: blue;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 6px;
}
.details {
  padding: 2em;
}
table {
  width: 100%;
  color: white;
  margin-top: 1em;
  border-collapse: collapse;
}
th, td {
  padding: 0.5em;
  border-bottom: 1px solid #444;
}
